{{CHANGELOG_SECTION}}

**Full Changelog**: https://github.com/{{REPO}}/compare/{{PREVIOUS_TAG}}...v{{VERSION}}
{{CHANGELOG_LINKS_SECTION}}
{{IS_PRERELEASE_WARNING}}
## App Installation

{{INSTALLER_TABLE}}

## CLI Downloads

{{CLI_INSTALLER_TABLE}}

## Verification

All releases are signed. `.sig` files are provided for verification.
