HOME=/data
UC_AUTO_INIT=1
UC_SPACE_PASSPHRASE=replace-with-your-space-passphrase
UC_DEVICE_NAME=Synology Server
UC_MOBILE_PUBLIC_URL=https://clip.example.com:20221
UC_ADMIN_WEB=1
UC_ADMIN_PORT=42888
UC_ADMIN_PASSWORD=replace-with-your-admin-password
UC_ADMIN_SHOW_SPACE_PASSPHRASE=0
